


<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 95%; margin: 50px; padding: 30px;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMWYZQ_-CVeRxA719M3pveepUJS105TOU">

    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 37.7648, lng: -122.463},
          zoom: 12
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        //map pointers can go here 

         var marker1 = new google.maps.LatLng(37.7648,-122.463);

         var marker = new google.maps.Marker({
            position: marker1,
            map: map,
            title: 'Hello World!'
  });

      }




      google.maps.event.addDomListener(window, 'load', initialize);





    </script>
  </head>
  <body>

<h1>Search#index</h1>
<p>Find me in app/views/search/index.html.erb</p>

<%= form_tag("/search/index", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

   <% movie = [] %>
   
<% @search.each_with_index do |x,index| %>
    
        <% if index == 0 then%>
            <h2><%= x["title"] %></h2>
        <%end%>

        <% if movie[index] != movie[index-1] then%>

        <h1><%= x["title"] %></h1>
        <%end%>
        
        <li><%= x["locations"] %></li>

        
<% end %>



<br>

<div id="map-canvas"></div>
  </body>
</html>