<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
<h1 class="title">Search Movies</h1>


<%= form_tag("/search/index", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% @search.each do |x| %>
	<h1><%= x["title"] %></h1>
	<ul>
	<li><%= x["locations"] %></li>
</ul>
<% end %>