<h1 class="background">Welcome Home</h1>

<%= link_to 'Favorite Locations', locations_path %>



<tbody>
    <% @location.each do |location| %>
      <tr>

        <td><%= image_tag location.image.url(:large) %></td>
        <td><%= link_to 'Show', location if policy(location).show? %></td>
          <td><%= link_to 'Edit', edit_location_path(location) if policy(location).edit? %></td>
          <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } if policy(location).destroy? %></td>
      </tr>
    <% end %>
  </tbody>