<h1 class="about_name">Welcome Home</h1>

<div class="about_name" class="sub_title"><%= link_to 'Create New Favorite', new_location_path %></div>


    <% @location.each do |location| %>
      
        <li class="fav_img"><%= image_tag location.image.url(:large) %></li><br>
        
        <div class="edit_options">
	        <li class="about_name"><%= link_to 'Show', location if policy(location).show? %></li><br>
	        <li class="about_name"><%= link_to 'Edit', edit_location_path(location) if policy(location).edit? %></li><br>
	        <li class="about_name"><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } if policy(location).destroy? %></li>
     
  		</div>
    <% end %>
  