<p id="notice"><%= notice %></p>
<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
<h1 class="background">Favorite Locations</h1>


  <h3 class= "index_row clearfix">
    <li>
      <th class="title">Location:</th>
      <th colspan="3"></th>
    </tr>
  </h3>

  
    <% @locations.each do |location| %>
      
        <li class="sub_title"><%= location.location %></li> <br>
        <li><%= image_tag location.image.url(:medium) %></li><br>
        
        <%= link_to 'Show', location if policy(location).show? %><br>
        <%= link_to 'Edit', edit_location_path(location) if policy(location).edit? %><br>
        <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } if policy(location).destroy? %>
        </li>
      
    <% end %>
  




<div class="sub_title"><%= link_to 'Create New Favorite', new_location_path %></div>